---
const year = new Date().getFullYear();
---
<div class="mb-10">
  
  <fieldset class="mo mb-10">
  
  <legend>
  
      Your Referral Link
  
  </legend>
  
  
  
    <div class="relative mb-3">
  
        <input
            id="referralLink"
            type="text"
            placeholder="https://wikimint.com?r=USER_ID"
            readonly
            class="w-full border border-gray-300  pr-12 px-3 py-2 bg-gray-50 text-sm"
        >
  
        <button
            id="copyReferral"
            class="absolute right-2 top-1/2 -translate-y-1/2 p-2 rounded hover:bg-gray-100"
            title="Copy link"
        >
  
            📋
  
        </button>
  
    </div>
  
    <p>
  
      Your referral ID works on every page of Wikimint. Simply append <em class="inline-flex">?r=<span class="uid">user_id</span></em> to any URL on wikimint.com website.
  
    </p>
  
  
  
  <div
    id="toast"
    class="fixed bottom-5 right-5 bg-black text-white px-4 py-2  opacity-0 pointer-events-none transition-opacity duration-300"
  >
  
    Referral link copied.
  
  </div>
  
  </fieldset>
  

  <fieldset>
  
  <legend>
  
      Sponsored
  
  </legend>
  <div class="space-y-6">

    <!-- BEGIN AADS AD UNIT 2445354 -->
  
  <div id="frame" style="width: 100%;margin: auto;position: relative; z-index: 99998;">
    <iframe data-aa='2445354' loading="lazy" src='//acceptable.a-ads.com/2445354/?size=Adaptive'
                      style='border:0; padding:0; width:100%; height:auto; overflow:hidden;display: block;margin: auto'></iframe>
  </div>
  
  <!-- END AADS AD UNIT 2445354 -->
  
  
  <script src="//static.surfe.pro/js/net.js" is:inline></script>
  <ins class="surfe-be" data-sid="421349"></ins>
  <script is:inline>(adsurfebe = window.adsurfebe || []).push({});</script>
  
  <script data-cfasync="false" >ll_r="selvaklnc";ll_bc="#ffffff";ll_hc="#0b5394";ll_tc="#555a69";ll_cc="#8d9aa6";ll_dc="#8891a8";ll_w="";ll_nf="0";ll_nc="1";ll_nh="0";ll_nm="0";ll_np="1";ll_pa="0";ll_nt="0";ll_wt="0";ll_fw="1";ll_n="6";ll_cl="";ll_s="w";</script><script data-cfasync="false" src="https://w.leadsleap.com/js.js"></script>
  
  
  <a href="https://surfe.be/1302353" target="_blank"><img loading="lazy" src="https://static.surfe.be/images/banners/1123/5-468x60en_.gif" class="w-full py-5" alt="Surfe.be - Advertising service"></a>
  <a href="https://surfe.be/ext/1302353" target="_blank"><img class="w-full" loading="lazy" src="https://static.surfe.be/images/banners/en/468x60_3.gif" alt="Surfe.be - Advertising service"></a>
  
  
  </div>
  </fieldset>
  
</div>

  <div class="sticky top-20">
    <fieldset>
          <legend>
  
              Get Notifications
  
          </legend>
  
    <form action="https://www.sendsteed.com/subscribe/" method="post" class="relative">
      <p class="mb-5">
        Get important updates regarding the platform features like account related, earnings, ads, publisher status and new features notifications straight to your inbox. Powered by
        <a class="text-wmblue" href="https://sendsteed.com/?r=selvaklnc" rel="nofollow noopener">
          SendSteed
        </a>.
      </p>
  
      <input name="e5735" type="email" class="mb-3 w-full px-4 py-1 bg-gray-100 border border-gray-300" required placeholder="Your Email"/>
  
      <input name="n5735" type="text" class="mb-3 w-full px-4 py-1 bg-gray-100 border border-gray-300" required placeholder="Your Name" />
  
      <input type="hidden" name="lllid" value="5735">
      <input type="hidden" name="lluid" value="selvaklnc">
      <input type="hidden" name="redirect" value="">
      <input type="hidden" name="source" value="">
  
      <button type="submit"
        class="w-full btn">
        Subscribe
      </button>
  
  
    </form>
  </fieldset>
    <p class="text-sm my-6">&copy; {year} Wikimint. All rights reserved.</p>
  </div>
