---
const version = Date.now();
const year = new Date().getFullYear();


---



<footer>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 f-cont px-4 sm:px-6 lg:px-8 ">

    <div class="">
      <a href="https://wikimint.com" class="text-xl font-bold text-wmblue-600">
          <img  loading="lazy" 
            alt="Business growth services, web development, digital marketing and SEO" 
            class="u-logo" 
            data-height="46" 
            data-width="200" 
            width="165" 
            height="38"
            src="/assets/images/wikimint-logo-200x46.webp"
            itemprop="contentUrl"
          >
      </a>
      <nav class="col-span-1 md:col-span-2 py-5" vocab="https://schema.org/"
      typeof="SiteNavigationElement">
        <ul class="flex flex-wrap items-center gap-x-4 gap-y-2">
          <li typeof="WebPage">
            <a href="/about" property="url">
              <span property="name">About</span>
            </a>
          </li>
          <li typeof="WebPage">
            <a href="/contact" property="url">
              <span property="name">Contact</span>
            </a>
          </li>
          <li typeof="WebPage">
            <a href="/blog" property="url">
              <span property="name">Blog</span>
            </a>
          </li>
          <li typeof="WebPage">
            <a href="/legal#terms" property="url">
              <span property="name">Terms</span>
            </a>
          </li>
          <li typeof="WebPage">
            <a href="/legal#privacy" property="url">
              <span property="name">Privacy</span>
            </a>
          </li>
        </ul>
      </nav>


      
      <p class="mb-5 flex">
        <a href="/sitemap" class="mr-2">
          <img loading="lazy" src="https://img.shields.io/badge/HTML-5-red?logo=html5&logoColor=white&style=flat-square" alt="HTML Badge" />
        </a>
      
        <a href="/sitemap.xml" class="mr-2">
          <img loading="lazy" src="https://img.shields.io/badge/XML-1.0-blue?logo=xml&logoColor=white&style=flat-square" alt="XML Badge" />
        </a>
      
        <a href="/rss.xml" class="mr-2">
          <img loading="lazy" src="https://img.shields.io/badge/RSS-2.0-orange?logo=rss&logoColor=white&style=flat-square" alt="RSS Badge" />
        </a>
      
        <a href="/atom.xml" class="mr-2">
          <img loading="lazy" src="https://img.shields.io/badge/Atom-1.0-green?logo=atom&logoColor=white&style=flat-square" alt="Atom Badge" />
        </a>
      </p>
      
    </div>

    <div class="flex items-start md:justify-end">


   

    
        
         <div>
           {/* Copyright */}
                 <p class="text-sm my-6">&copy; {year} Wikimint. All rights reserved.</p>
               
               
                 {/* Social Icons */}
                 <div class="flex space-x-4 mt-3 md:mt-0">
                   <a href="https://twitter.com/wikimint"
              aria-label="Follow Wikimint on Twitter"
              title="Follow Wikimint on Twitter"
           
           
              class="text-gray-600 hover:text-gray-900">
              <img loading="lazy" src="/assets/svg/x.svg" alt="Follow Wikimint on Twitter" width="100" height="100" class="w-[20px]"/>
               
                   </a>
                   <a href="https://www.facebook.com/wikimintofficial"
              aria-label="Follow Wikimint on Facebook"
              title="Follow Wikimint on Facebook"
           
           
              class="text-gray-600 hover:text-gray-900">
              <img loading="lazy" src="/assets/svg/facebook.svg" alt="Follow Wikimint on Facebook" width="100" height="100" class="w-[20px]"/>
               
                   </a>
                   <a href="https://www.instagram.com/wikimintofficial/?e=e9cefaac-36b9-4c51-87b3-4ab92b3f4e4f&g=5" 
                   aria-label="Follow Wikimint on Instagram" 
                   title="Follow Wikimint on Instagram" 
                  
                  
                   class="text-gray-600 hover:text-gray-900">
                   <img loading="lazy" src="/assets/svg/instagram.svg" alt="Follow Wikimint on Instagram" width="100" height="100" class="w-[20px]"/>
                 
                   </a>
                   <a href="https://www.linkedin.com/company/wikimintofficial" 
                   aria-label="Connect with Wikimint on LinkedIn" 
                   title="Connect with Wikimint on LinkedIn" 
                  
                  
                   class="text-gray-600 hover:text-gray-900">
                   <img loading="lazy" src="/assets/svg/linkedin.svg" alt="Connect with Wikimint on LinkedIn" width="100" height="100" class="w-[20px]"/>
                 
                   </a>
                   <a href="https://www.youtube.com/channel/UCWxiax3p4uu8qQhfVPak2VA" 
                   aria-label="Wtach Wikimint on YouTube" 
                   title="Watch Wikimint on YouTube"     
                  
                  
                   class="text-gray-600 hover:text-gray-900">
                   <img loading="lazy" src="/assets/svg/youtube.svg" alt="Watch Wikimint on YouTube" width="100" height="100" class="w-[20px] text-gray:300"/>
                   </a>
               
                   <a href="https://github.com/wikimint" 
                   aria-label="Join Wikimint on Github" 
                   title="Join Wikimint on Github"     
                  
                  
                   class="text-gray-600 hover:text-gray-900">
                   <img loading="lazy" src="/assets/svg/github.svg" alt="Join Wikimint on Github" width="100" height="100" class="w-[20px] text-gray:300"/>
               
                   </a>
                 </div>
         </div>


    </div>

</div>








<script src={`/assets/js/script.js?v=${version}`} defer></script>


</footer>

