---

---

<header>
    <div class="col-2 px-4 sm:px-6 lg:px-8 flex justify-between h-16 items-center">
      <div class="flex items-center space-x-8">
        <a href="https://wikimint.com">
          <img  loading="lazy" alt="Master Personal Finance, Business Growth, Digital Marketing" data-height="46" data-width="200" width="165" height="38" src="/assets/images/wikimint-logo-200x46.webp">
        </a>
      </div>

      <div class="flex items-center space-x-3">

        <a
        href="/app"
        class="btn-ol mo"
        >
        Dashboard
        </a>

        <span
        role="button"
        class="login btn-ol go"
        >
        Login
      </span>
<span class="desktop-only">
  <a
  href="/app/branding"
  class="btn go"
  >
  Promote Yourself
  </a>
</span>

      </div>
    </div>
</header>


